body {
    background-color: #95dffc;
    max-width: 1280px;
    margin: auto;
    font-family: 'Nova Script', cursive;
}

h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20pt;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Nova Script', cursive;
    font-size: 14pt;
}

#header {
    margin-top: 15px;
}

#resource-display {
    height: 250px;
    width: 300px;
    border: 1px solid white;
    text-align: left;
    float: left;
}

#miracle-controls {
    height: 250px;
    width: 300px;
    border: 1px solid white;
    margin: auto;
    text-align: center;
    position: relative;
}

#main-controls {
    height: 250px;
    width: 300px;
    border: 1px solid white;
    float: right;
}

.branch-dropdown {
    display: inline-block;
    background-color: #95dffc;
    border: 1px solid white;
    text-align-last: center;
    font-family: 'Nova Script', cursive;
    font-size: 14pt;
    width: 50px;
    height: 25px;
}

.branch-dropdown:focus {
    outline: none;
}

#miracle-but {
    width: 250px;
    height: 75px;
    border-radius: 4px;
    vertical-align: middle;
    margin: 5px;
}

#miracle-but.can {
    border: 1px solid #eeff55;
    background-color: #bfdb21;
    cursor: pointer;
}

#miracle-but.can:hover {
    background-color: #eeff55;
}

.advance-but, .branch-but {
    width: 250px;
    height: 75px;
    border-radius: 4px;
    vertical-align: middle;
    margin: 5px;
}

.advance-but.can, .branch-but.can {
    border: 1px solid #e93eff;
    background-color: #bf00c5;
    cursor: pointer;
}

.advance-but.can:hover, .branch-but.can:hover {
    background-color: #e93eff;
}

.adv-popup {
    position: fixed;
    left: 50%;
	top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background-color: black;
    color: white;
    border: 3px solid white;
    box-shadow: 3px 3px #252525;
    width: 500px;
    border-radius: 4px;
    z-index: 9;
}

.adv-choice-but {
    width: 205px;
    height: 115px;
    color: white;
    background-color: #1f1f1f;
    border: 1px solid #525252;
    cursor: pointer;
    border-radius: 4px;
}

.adv-choice-but:hover {
    background-color: #525252;
}

.upgrade-but {
    width: 250px;
    height: 150px;
    border-radius: 4px;
    vertical-align: middle;
    margin: 5px;
}

.upgrade-but.can {
    border: 1px solid #1fff57;
    background-color: #008a17;
    cursor: pointer;
}

.upgrade-but.can:hover {
    background-color: #1fff57;
}

.bought-upgrade-but {
    width: 250px;
    height: 75px;
    border: 1px solid white;
    background-color: #95dffc;
    cursor: default;
    border-radius: 4px;
    vertical-align: middle;
    margin: 5px;
}

.locked-upgrade-but {
    width: 250px;
    height: 75px;
    background-color: #707070;
    border: 1px solid #707070;
    cursor: default;
    border-radius: 4px;
    vertical-align: middle;
    margin: 5px;
}

.option-but {
    width: 100px;
    height: 25px;
    border: 1px solid #525252;
    background-color: #1f1f1f;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    vertical-align: middle;
    margin: 5px;
}

.option-but:hover {
    background-color: #525252;
}

#type-upgrades {
    text-align: center;
    float: left;
    width: 300px;
}

#cult-upgrades {
    text-align: center;
    float: right;
    width: 600px;
}

#feat-upgrades {
    text-align: center;
    width: 300px;
    float: left;
}

.cant {
    background-color: #707070;
    border: 1px solid #707070;
    cursor: not-allowed;
}