<!doctype html>

<html>

<head>
    <title>Asscension</title>
    <script type="text/javascript" src="js/game.js"></script>
    <script type="text/javascript" src="js/tools/utils.js"></script>
    <script type="text/javascript" src="js/tools/components.js"></script>
    <script type="text/javascript" src="js/tools/break_infinity.js"></script>
    <script type="text/javascript" src="js/tools/data_objects.js"></script>
    <script type="text/javascript" src="js/tools/markov.js"></script>
    <script type="text/javascript" src="js/hex-tools/Grid.js"></script>
    <script type="text/javascript" src="js/hex-tools/HexCalcs.js"></script>
    <script type="text/javascript" src="js/hex-tools/HexagonTools.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nova+Script&display=swap" rel="stylesheet">
</head>

<body onload="init()">
    <div id="app">
        <div id="loading-splash">
            Generating world...
        </div>
        <div id="header">
            <div id="totals-display">
                <table id="totals-resource-table" style="width: 100%;">
                    <tr v-if="player.isCult && player.branches.length>1">
                        <td colspan="2">
                            <div style="text-align: center;">
                                <h4>Totals</h4>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Followers:
                        </td>
                        <td>
                            {{ formatWhole(getFollowers()) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Worship: 
                        </td>
                        <td>
                            {{ formatDefault(player.worship) }}
                        </td>
                    </tr>
                    <tr v-if="player.genGold">
                        <td>
                            Gold: 
                        </td>
                        <td>
                            {{ formatDefault(player.gold) }}
                        </td>
                    </tr>
                    <tr v-if="player.isCult">
                        <td>
                            Follower recruitment: 
                        </td>
                        <td>
                            {{ formatDefault(followersPerSec()) }}/sec
                        </td>
                    </tr>
                    <tr v-if="player.isCult">
                        <td>
                            Worship generation: 
                        </td>
                        <td>
                            {{ formatDefault(worshipPerSec()) }}/sec
                        </td>
                    </tr>
                    <tr v-if="player.genGold">
                        <td>
                            Gold production: 
                        </td>
                        <td>
                            {{ formatDefault(goldPerSec()) }}/sec
                        </td>
                    </tr>
                </table>
            </div>
            <div id="branch-display">
                <table v-if="player.isCult && player.branches.length>1" id="branch-resource-table" style="width: 100%;">
                    <tr>
                        <td colspan="2">
                            <div style="text-align: center;">
                                <h4>This Branch</h4>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Followers:
                        </td>
                        <td>
                            {{ formatWhole(player.branches[player.activeBranch].getFollowers()) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Follower recruitment: 
                        </td>
                        <td>
                            {{ formatDefault(player.branches[player.activeBranch].followersPerSec()) }}/sec
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Worship generation: 
                        </td>
                        <td>
                            {{ formatDefault(player.branches[player.activeBranch].worshipPerSec()) }}/sec
                        </td>
                    </tr>
                </table>
                <div v-if="player.isCult && player.branches.length>1" style="text-align: center;">
                    <h4>Select Branch:</h4>
                    <select class="branch-dropdown" v-model="selectedBranch">
                        <option v-for="i in player.branches.length" :value="i-1" v-html="i"></option>
                    </select>
                </div>
            </div>
            <div id="miracle-controls">
                <miracle-button></miracle-button>
                <div v-if="player.isCult" class="miracle-count">Total miracles cast: {{ formatWhole(player.totalMiracles) }}</div>
                <advance-button data="cult"></advance-button>
                <branch-button></branch-button>
                <div v-if="player.displayMap">
                    <button onclick="showHideMap()" class="option-but">World Map</button>
                    <button onclick="showHideOptions()" class="option-but">Options</button>
                </div>
                <div v-if="autosaveNotify" class="save-notify">Autosaved!</div>
                <div v-if="manSaveNotify" class="save-notify">Saved!</div>
            </div>
        </div>
        <div id="upgrades">
            <div v-if="player.isCult" id="type-upgrades">
                <h3>{{ player.cultType }} Upgrades</h3>
                <type-upgrade-button :id="1"></type-upgrade-button>
                <type-upgrade-button :id="2"></type-upgrade-button>
                <type-upgrade-button :id="3"></type-upgrade-button>
                <type-upgrade-button :id="4"></type-upgrade-button>
            </div>
            <div v-if="player.isCult" id="feat-upgrades">
                <h3>Godly Feats</h3>
                <feat-button :id="1"></feat-button>
                <feat-button :id="2"></feat-button>
                <feat-button :id="3"></feat-button>
                <feat-button :id="4"></feat-button>
            </div>
            <cult-upgrades></cult-upgrades>
        </div>
        <div class="world-popup" v-bind:style="[ showWorldMap ? {} : { 'display': 'none' } ]">
            <div id="canvas-container" class="tooltip">
                <canvas id="hexCanvas" width="800" height="600" v-bind:style="[ player.displayMap ? {} : { 'display': 'none' } ]">
                    
                </canvas>
                <div v-if="player.displayMap && !player.displayFullMap" id="home-tooltip"></div>
                <div v-if="player.displayFullMap" id="canvas-tooltip" class="tooltiptext"></div>
            </div>
            <br>
            <button onclick="showHideMap()" class="option-but" style="margin: 25px;">Close</button>
        </div>
        <adv-choice-popup ref="advpop"></adv-choice-popup>
        <div class="options-popup" v-bind:style="[ showOptions ? {} : { 'display': 'none' } ]">
            <div style="margin: 25px;">
                <button class="option-but" v-on:click="hardReset()">
                    Hard Reset
                </button>
                <button class="option-but" v-on:click="importSave()">
                    Import/Export
                </button>
                <button class="option-but" v-on:click="manualSave()">
                    Manual Save
                </button>
            </div>
            <div style="margin: 25px;">
                <button onclick="showHideOptions()" class="option-but">Close</button>
            </div>
            <div style="position: absolute; bottom: 0; width: 100%; text-align: center;">
                Check out my other projects <a href="https://games.monkeh.us" target="_blank">here!</a>
            </div>
        </div>
    </div>
</body>

</html>